a{
    color: #005a7d;
    text-decoration: none;
}

.login-container
{
    margin-bottom: 70px;
}
.login-container input[type="submit"]
{
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    width: auto;
}

.login-container label
{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    display: inline-block; 

}

.login-container input, .login-container #password
 {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
 }


.body-container {

    margin-bottom: 70px;
}

.w-dropdown-link.w--current {
    color: #fff;
}

.w-dropdown-link.w--current:hover {
    color: #00b6fd;
}

.footer
{
    display: none;
}

.tablerowhead
{
    margin-bottom: 10px;
    border-bottom: 1px solid #00b6fd;
}