
/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
.main-nav-bar {
    background-color: #00b6fd;
    color: #fff;
}

.nav-menu-left {
    float: left;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url("https://daks2k3a4ib2z.cloudfront.net/56e9a4c6b4e32a4970861246/56e9a938f509295c4b4aaadc_logo1.png");
    background-position: 0px 0px;
    background-size: contain;
}

.nav-menu-link {
    color: #fff;
}

.nav-menu-link:hover {
    background-color: #fff;
    color: #00b6fd;
}

.nav-menu-link.right {
    float: none;
}

.top-menu-container {
    width: 940px;
}

.body-container {
    margin-top: 20px;
    padding: 25px 10px;
    border: 1px solid #00b6fd;
}

.body-h1 {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #747474;
    font-weight: 300;
    text-transform: uppercase;
}

.body-h1-span {
    font-size: 18px;
}

.main-page-menu-item {
    width: 150px;
    height: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #747474;
    text-align: center;
    cursor: pointer;
}

.main-page-menu-item:hover {
    border-color: #00b6fd;
}

.menu-item-link {
    font-family: 'Roboto Condensed', sans-serif;
    color: #005a7d;
    font-size: 25px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
}

.colorwhite {
    color: #fff;
}

.tablerowhead {
    font-family: 'Roboto Condensed', sans-serif;
    color: #00b6fd;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.tableth {
    padding-bottom: 11px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #00b6fd;
}

.tabletr {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #747474;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.tabletr:hover {
    background-color: #e6f8ff;
}

.footer {
    height: 50px;
    margin-top: 20px;
    background-color: #00b6fd;
}

.tabletdlink {
    color: #005a7d;
    text-decoration: none;
}

.drommenuitem {
    border: 1px solid #00b6fd;
    background-color: #00b6fd;
    color: #fff;
}

.drommenuitem:hover {
    background-color: #fff;
    color: #00b6fd;
}

.login-form-container {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.form-label {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.form-button {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}